@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


:root {
    --fundo-principal: #030303;
    --fundo-secundario: #0B0B0D;
    --cor-destaque: #FF6A1A;
    --cor-destaque-claro: #FF9A3C;
    --texto-principal: #F2F2F2;
    --texto-secundario: #9A9A9A;
    --font-family1: 'Orbitron', sans-serif;
    --font-family2: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #container {
    background-image: url('../assets/wallpaper.png');
    background-size: contain;
    height: 400vh;
    gap: 10px;
} 

header {
    background-color: var(--fundo-principal);
    padding: 30px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

}

header nav ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration:none;
    color:var(--texto-principal);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    /* text-shadow: 0 0px 0px var(--texto-secundario); */
    font-family: var(--font-family2);
    letter-spacing: 3.5px;
}
header nav ul li a:hover {
    color:var(--cor-destaque);
    border-bottom: 1px solid var(--cor-destaque-claro);
    /* text-shadow: 0 1px 2px var(--cor-destaque-claro); */
}

#imgFundo {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    display: flex;

}

section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
}

.card {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.8);
    box-shadow: 0 4px 6px var(--fundo-principal);

}

h1,
h2 {
    color: var(--texto-principal);
    font-family: var(--font-family1);
    font-size: clamp(3rem, 5vw, 4.3rem);
    text-transform: uppercase;
    text-align: center;
}

p {
    color: var(--texto-secundario);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    max-width: 600px;
    font-family: var(--font-family2);
    line-height: 1.5;
}

.alvo-titulo span {
    color: var(--cor-destaque);
}

.aplicacao-titulo span {
    display: block;
    color: var(--cor-destaque);
}