@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


:root {
    --fundo-principal: #030303;
    --fundo-secundario: #0B0B0D;
    --cor-destaque: #FF6A1A;
    --cor-destaque-claro: #FF9A3C;
    --texto-principal: #F2F2F2;
    --texto-secundario: #9A9A9A;
    --font-family1: 'Orbitron', sans-serif;
    --font-family2: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #container {
    background-image: url('../assets/wallpaper.png');
    background-size: contain;
    
} 

header {
    background-color: var(--fundo-principal);
    padding: 30px 4%;
    position: sticky;
    top: 0;
    z-index: 1;

}

header nav ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration:none;
    color:var(--texto-principal);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;
    /* text-shadow: 0 0px 0px var(--texto-secundario); */
    font-family: var(--font-family2);
    letter-spacing: 3.5px;
}
header nav ul li a:hover {
    color:var(--cor-destaque);
    border-bottom: 1px solid var(--cor-destaque-claro);
    /* text-shadow: 0 1px 2px var(--cor-destaque-claro); */
}

#imgFundo {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    display: flex;

}

